@model aereoliniafinal.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<div>  
    <span style="font-size:20px; text-align:center; ">
            <dt class="list-group-item active">
                Detalles del cliente
            </dt>
        </span>

    <dl class="list-group">
        <dt class="list-group-item">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class="list-group-item">
            @Html.DisplayFor(model => model.Pais.Nombre)
        </dd>
        <dt class="list-group-item">
            @Html.DisplayNameFor(model => model.TipoSexo)
        </dt>
        <dd class="list-group-item">
            @Html.DisplayFor(model => model.TipoSexo.Sexo)
        </dd>
        <dt class="list-group-item">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="list-group-item">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="list-group-item">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="list-group-item">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="list-group-item">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="list-group-item">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="list-group-item">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class="list-group-item">
            @Html.DisplayFor(model => model.Edad)
        </dd>
    </dl>
</div>
<br />
<div>
    <a type="button" class="btn btn-success" asp-action="Index">Volver atras </a> |
    <a type="button" class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.ClienteID">Editar</a>

</div>