@model aereoliniafinal.Models.Vuelos

@{
    ViewData["Title"] = "Details";
}

<div>
    <dl class="list-group">
        <span style="font-size:20px; text-align:center; ">
            <dt class="list-group-item active">
                Detalles del vuelo
            </dt>
        </span>
        <dl class="list-group">
            <dt class="list-group-item">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="list-group-item">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="list-group-item">
                @Html.DisplayNameFor(model => model.FechaSalida)
            </dt>
            <dd class="list-group-item">
                @Html.DisplayFor(model => model.FechaSalida)
            </dd>
            <dt class="list-group-item">
                @Html.DisplayNameFor(model => model.FechaLlegada)
            </dt>
            <dd class="list-group-item">
                @Html.DisplayFor(model => model.FechaLlegada)
            </dd>
            <dt class="list-group-item">
                @Html.DisplayNameFor(model => model.Aviones)
            </dt>
            <dd class="list-group-item">
                @Html.DisplayFor(model => model.Aviones.Modelo)
            </dd>
            <dt class="list-group-item">
                @Html.DisplayNameFor(model => model.Ciudades)
            </dt>
            <dd class="list-group-item">
                @Html.DisplayFor(model => model.Ciudades.Nombre)
            </dd>
        </dl>
</div>
<br />
<div>
    <a type="button" class="btn btn-success" asp-action="Index">Volver atras </a> |
    <a type="button" class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.VuelosID">Editar</a>

</div>